<div class="contenair-show">
  <div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @spot.photos.first.key %>')">
    <div class="spot-icons">
      <%= link_to :back do %>
        <i class='far fa-arrow-alt-circle-left' style='font-size:24px'></i>
      <% end %>
      <%= link_to :root do %>
        <i class="fa-solid fa-house" style='font-size:24px'></i>
      <% end %>
      <div class="spot-heart">
        <input id="heart" type="checkbox" />
        <label for="heart"><i class="fa-solid fa-heart"></i></label>
      </div>
    </div>

    <div class="spot-infos">
      <p><%= @spot.name %></p>
      <p><%= @spot.address %></p>
    </div>
  </div>

  <% unless params[:from_home].present? %>
    <div class="fullDate">
      <p>
        <%= translate_day(@weathers.first.time.strftime("%A")) %>
        <%= @weathers.first.time.strftime("%d")%>
        <%= translate_month(@weathers.first.time.strftime("%B")) %>
      </p>
    </div>

    <div data-controller="table">

      <table class="weather-card" data-table-target="goodWeathers" >
        <thead>
          <tr class="head-table">
            <th>Heure</th>
            <th>Vent</th>
            <th>Rafale</th>
            <th>Pluie</th>
            <th>Air</th>
          </tr>
        </thead>
          <tbody>
            <% @good_weathers.first(3).each do |weather| %>
            <tr class="table-element colored">
              <td class="time">
                <%= display_well_time(weather.time) %>
              </td>
              <td class="wind">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="normal-h", style= "rotate: <%= weather.wind_direction %>deg;">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
                </svg>
                <%= weather.wind_force.to_i %>nd
              </td>
              <td class="wind-gust time">
                <i class="fa-solid fa-tornado"></i>
                <%= weather.gust_wind %>nd
              </td>
              <td class="rain time">
                <i class="fa-solid fa-droplet"></i>
                <%= weather.prob_rain %>%
              </td>
              <td class="temperature time">
                <i class="fa-solid fa-temperature-three-quarters"></i>
                <%= weather.temperature %>°C
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>

      <table class="weather-card hidden" data-table-target="allWeathers">
        <thead>
          <tr class="head-table">
            <th>Heure</th>
            <th>Vent</th>
            <th>Rafale</th>
            <th>Pluie</th>
            <th>Air</th>
          </tr>
        </thead>
          <tbody>
            <% @weathers.each do |weather| %>
            <tr class="table-element <%= 'colored' if criteria_correspond?(weather) %>">
              <td class="time">
                <%= display_well_time(weather.time) %>
              </td>
              <td class="wind">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="normal-h", style= "rotate: <%= weather.wind_direction %>deg;">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
                </svg>
                <%= weather.wind_force.to_i %>nd
              </td>
              <td class="wind-gust time">
                <i class="fa-solid fa-tornado"></i>
                <%= weather.gust_wind %>nd
              </td>
              <td class="rain time">
                <i class="fa-solid fa-droplet"></i>
                <%= weather.prob_rain %>%
              </td>
              <td class="temperature time">
                <i class="fa-solid fa-temperature-three-quarters"></i>
                <%= weather.temperature %>°C
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
      <button class="allInfos" data-action="click->table#changeTable">Voir plus</button>
    </div>

    <div class="map">
      <%= cl_image_tag @spot.photos.last.key, class:"show-map" %>
      <p><%= image_tag "arrow-up.png", class: "arrow-map", style: "rotate: #{@good_weathers.first.wind_direction}deg;" %></p>
    </div>
  <% end %>


  <a href="#option-technique">
    <div id="option-description" data-controller="open-on-click">
      <button data-action="open-on-click#toggleDescription", class="description">Description du spot</button>
      <p data-open-on-click-target="description", class="open hidden"><%= @spot.description %></p>
    </div>
  </a>

<a href="#option-danger">
  <div id="option-technique" data-controller="open-on-click">
    <button data-action="open-on-click#toggleDescription", class="description">Zone technique</button>
    <p data-open-on-click-target="description", class="open hidden"><%= @spot.technique %></p>
  </div>
</a>

<a href="#option-danger">
  <div id="option-danger" data-controller="open-on-click">
    <button data-action="open-on-click#toggleDescription", class="description">Danger</button>
    <p data-open-on-click-target="description", class="open hidden"><%= @spot.danger %></p>
  </div>
</a>
