<% @weathers.each do |w| %>
  <%= display_well_time(w.time) %>
<% end %>

<div class="show-card" style= "background-image: url('<%= cl_image_path @spot.photos.last.key %>')">
  <div class="spot-icons">
    <%= link_to spots_path do %>
      <i class='far fa-arrow-alt-circle-left' style='font-size:24px'></i>
    <% end %>
    <div class="spot-heart">
      <input id="heart" type="checkbox" />
      <label for="heart">❤</label>
    </div>
  </div>

  <div class="spot-name">
    <h3><%= @spot.name %></h3>
    <p><%= @spot.difficulty %></p>
    <p><%= @spot.address %></p>
  </div>
</div>

<div class="show-card-infos">
  <p><%= @spot.description %></p>
  <div class="show-card-weather">
    <% @weathers&.each do |w| %>
      <%= display_well_time(w.time) %>
        <%= w&.wind_force %>
        <%= w&.gust_wind %>
        <%= w&.wind_direction %>
        <%= w&.temperature %>
        <%= w&.prob_raing %>
        <%= w&.prob_fog %>
    <% end %>
  </div>
</div>
