<div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @spot.photos.last.key %>')">
  <div class="spot-icons">
    <%= link_to :back do %>
      <i class='far fa-arrow-alt-circle-left' style='font-size:24px'></i>
    <% end %>
    <div class="spot-heart">
      <input id="heart" type="checkbox" />
      <label for="heart">❤</label>
    </div>
  </div>

  <div class="spot-infos">
    <p><%= @spot.name %></p>
    <%# <p><%= @spot.difficulty %>
    <p><%= @spot.address %></p>
  </div>
</div>

<table>
  <tr>
    <th class="weathers">
      <% @weathers.each do |weather| %>
        <div class="weather-card <%= 'colored' if criteria_correspond?(weather) %>">
          <div class="time">
            <p><%= display_well_time(weather.time) %></p>
          </div>
          <div class="wind-direction">
            <i class="fa-solid fa-location-arrow"></i>
            <p><%= weather.wind_direction %></p>
          </div>
            <div class="wind-force">
            <i class="fa-solid fa-wind"></i>
              <p><%= weather.wind_force %></p>
            </div>
            <div class="wind-gust">
              <i class="fa-solid fa-tornado"></i>
              <p><%= weather.gust_wind %></p>
            </div>
            <div class="rain">
              <i class="fa-solid fa-droplet"></i>
              <p><%= weather.prob_rain %></p>
            </div>
            <div class="temperature">
              <i class="fa-solid fa-temperature-three-quarters"></i>
              <p><%= weather.temperature %></p>
            </div>
        </div>
      <% end %>
    </th>
  </tr>
</table>

<div id="options" data-controller="open-on-click">
  <button data-action="open-on-click#toggleDescription", class="description">Description du spot</button>
  <p data-open-on-click-target="description" hidden, class="open"><%= @spot.description %></p>
</div>
