<div class="show-card" style="background-image: url('<%= cl_image_path @spot.photos.last.key %>')">
  <div class="spot-icons">
    <%= link_to :back do %>
      <i class='far fa-arrow-alt-circle-left' style='font-size:24px'></i>
    <% end %>
    <div class="spot-heart">
      <input id="heart" type="checkbox" />
      <label for="heart">❤</label>
    </div>
  </div>

  <div class="spot-name">
    <h3><%= @spot.name %></h3>
    <p><%= @spot.difficulty %></p>
    <p><%= @spot.address %></p>
  </div>
</div>

<% if @weathers.present? %>
  <table>
    <caption>La météo du matin</caption>
    <thead>
      <tr>
      <th scope="col"> heure </th>
      <% @weathers&.first(9).each do |w|%>
        <th scope="col"><%= display_well_time(w.time) %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">force km/h</th>
        <% @weathers&.first(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.wind_force.to_i %></td>

        <% end %>
      </tr>
      <tr>
        <th scope="row">rafale km/h</th>
        <% @weathers&.first(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.gust_wind %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">direction 360°</th>
        <% @weathers&.first(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.wind_direction.to_i %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">température air C°</th>
        <% @weathers&.first(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.temperature %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">pluie %</th>
        <% @weathers&.first(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.prob_rain %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">brouillard %</th>
        <% @weathers&.first(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.prob_fog %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>La météo de l'après-midi</caption>
    <thead>
      <tr>
      <th scope="col"> heure </th>
      <% @weathers&.last(9).each do |w|%>
        <th scope="col"><%= display_well_time(w.time) %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">force km/h</th>
        <% @weathers&.last(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.wind_force.to_i %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">rafale km/h</th>
        <% @weathers&.last(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.gust_wind %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">direction 360°</th>
        <% @weathers&.last(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.wind_direction.to_i %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">température air C°</th>
        <% @weathers&.last(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.temperature %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">pluie %</th>
        <% @weathers&.last(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.prob_rain %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">brouillard %</th>
        <% @weathers&.last(9).each do |w| %>
          <td class="<%= 'colored' if criteria_correspond?(w) %>"><%= w&.prob_fog %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>
