<div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @spot.photos.last.key %>')">
  <div class="spot-icons">
    <%= link_to :back do %>
      <i class='far fa-arrow-alt-circle-left' style='font-size:24px'></i>
    <% end %>
    <div class="spot-heart">
      <input id="heart" type="checkbox" />
      <label for="heart">❤</label>
    </div>
  </div>

  <div class="spot-infos">
    <p><%= @spot.name %></p>
    <%# <p><%= @spot.difficulty %>
    <p><%= @spot.address %></p>
  </div>
</div>
<div>
  <table class="weather-card">
    <thead>
      <tr class="head-table">
        <th>Heure</th>
        <th>Vent</th>
        <th>Rafale</th>
        <th>Météo</th>
        <th>Air</th>
        <th>Fog</th>
      </tr>
    </thead>
      <tbody>
        <% @weathers.each do |weather| %>
        <tr class="table-element<%= 'colored' if criteria_correspond?(weather) %>">
          <td class="time">
            <%= display_well_time(weather.time) %>
          </td>
          <td class="wind">
            <i class="fa-solid fa-location-arrow"></i>
            <%= weather.wind_force %>
          </td>
          <td class="wind-gust time">
            <i class="fa-solid fa-tornado"></i>
            <%= weather.gust_wind %>
          </td>
          <td class="rain time">
            <i class="fa-solid fa-droplet"></i>
            <%= weather.prob_rain %>
          </td>
          <td class="temperature time">
            <i class="fa-solid fa-temperature-three-quarters"></i>
            <%= weather.temperature %>
          </td>
          <td class="wave-height time">
            <i class="fa-solid fa-wave-sine"></i>
            <%= weather.prob_fog %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>
