<%# <%= render 'shared/navbar' %>
<div class="header">
  <h1 class="title">Wind'Call</h1>
  <a href="#start-direction" class="home-button"> Let's go</a>
</div>

<div class="container" id="start-direction">
<h2>Trouve ton prochain spot de Kite Surf !</h2>
<p>Découvre les plus beaux spots de Kite
Surf en fonction de tes critères  à travers
la France !</p>

<%= form_with url: spots_path, method: "get", data: { controller: "double-slider"} do |f| %>
  <div class="choose-difficulty-spot" data-controller="filter">
  <p>Séléctionne la difficulté de ton spot</p>

    <%#= desolé jean ro %>
    <div class="first-two-div">
      <%#= f.check_box "difficulty[]", id: "deb", input_html: {value: "deb"} %>
      <div>
        <input type="checkbox" name="difficulty[]" value="Débutant" id="deb" data-action="change->filter#selectFilter">
        <label class="difficulty-spot", for="deb">
          <%= image_tag "tadpole.png", class:"css-logo-button"%>
        <div id="logo-button">
          <p>Débutant</p>
        </div>
        </label>
      </div>

      <div>
        <%#= f.check_box :difficulty, id: "int" %>
        <input type="checkbox" name="difficulty[]" value="Intermédiaire" id="int"  data-action="change->filter#selectFilter">
        <label class="difficulty-spot", for="int">
          <%= image_tag "fish.png", class:"css-logo-button"%>
        <div id="logo-button">
          <p>Intermédiaire</p>
        </div>
      </div>
    </div>

    <div class="two-last-div">
      <%#= f.check_box :difficulty, id: "con" %>
      <div>
        <input type="checkbox" name="difficulty[]" value="Confirmé" id="con"  data-action="change->filter#selectFilter">
        <label class="difficulty-spot", for="con">
          <%= image_tag "dolphin.png", class:"css-logo-button"%>
        <div id="logo-button">
          <p>Confirmé</p>
        </div>
        </label>
      </div>

      <%#= f.check_box :difficulty, id: "exp" %>
      <div>
        <input type="checkbox" name="difficulty[]" value="Expert" id="exp"  data-action="change->filter#selectFilter">
        <label class="difficulty-spot", for="exp">
          <%= image_tag "shark.png", class:"css-logo-button"%>
        <div id="logo-button">
          <p>Expert</p>
        </div>
      </div>
    </div>
  </div>

  <p>Selectionne la force du vent ! (en noeuds)</p>

  <div class="double-slider">
    <span class="value" data-double-slider-target="rangeOne"></span>
    <div class="slider-container">
      <div data-double-slider-target="sliderBar" class="slider-bar"></div>
      <%= f.range_field :wind_min, value: params[:wind_min] || "15", min: "0", max: "60", data: { double_slider_target: "sliderOne", action: "input->double-slider#slideOne"} %>
      <%= f.range_field :wind_max, value: params[:wind_max] || "30", min: "0", max: "60", data: { double_slider_target: "sliderTwo", action: "input->double-slider#slideTwo"} %>
    </div>
    <span class="value" data-double-slider-target="rangeTwo"></span>

  </div>

  <p>Quand veux-tu aller Kite-Surfer ?</p>

    <div class="first-two-div">
      <%= f.radio_button :time, "Today", id: "today" %>
      <%= f.label :time, "Aujourd'hui", class:"when-kite-spot", for: "today" %>

      <%= f.radio_button :time, "Tomorrow", id: "tomorrow" %>
      <%= f.label :time, "Demain", class:"when-kite-spot", for: "tomorrow" %>

      <%= f.radio_button :time, "After", id: "after" %>
      <%= f.label :time, "Après-demain", class:"when-kite-spot", for: "after" %>
    </div>
    <div class="form-geolocation">
      <div data-controller="address-autocomplete" id="map-search"
        data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
        <%= f.text_field :address, data: {address_autocomplete_target: "address"},
        style: "display:none;"
        %>
      </div>
      <%= f.text_field :perimeter, placeholder: "Ton périmètre !" %>
    </div>

  <div class="submit-button">
    <%= f.button "Valide tes critères !", class:"button-link-to" %>
  </div>
<% end %>

<div class="begin-caroussel">
  <p>Teste de tout nouveaux spots !</p>
</div>
<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <% @spots.sample(5).each do |spot| %>
        <li id="carousel__slide1"
          tabindex="0"
          class="carousel__slide">
          <div class="carousel__snapper" style="background-image:url(<%= spot.photos.first.url %>)" id="first-carousel">
            <div class="div-container-h3">
              <h3><%= spot.name %></h3>
            </div>
            <a href="#carousel__slide4"></a>
            <a href="#carousel__slide2"></a>
          </div>
          <%= link_to "", spot_path(spot, from_home: "true"), class: "carousel_link" %>
        </li>
    <% end %>
  </ol>
</section>
</div>
