<h1>Wind Call</h1>
<h2>Trouve ton prochain spot de Kite Surf !</h2>

<p>Découvre les plus beaux spots de Kite
Surf en fonction de tes critères  à travers
la France !</p>

<button class=" button-alert">
  <i class="fa fa-bell"></i>
  M'alerter
</button>


<%= form_with url: spots_path, method: "get", data: { controller: "double-slider"} do |f| %>
  <div class="choose-difficulty-spot">
  <p>Séléctionne la difficulté de ton spot</p>

    <div class="first-two-div">

      <%= f.check_box :difficulty, id: "deb" %>
      <%= f.label :difficulty, "Débutant", class:"difficulty-spot", for: "deb" %>

      <%= f.check_box :difficulty, id: "int" %>
      <%= f.label :difficulty, "Intermédiaire", class:"difficulty-spot", for: "int" %>
    </div>

    <div class="two-last-div">
      <%= f.check_box :difficulty, id: "con" %>
      <%= f.label :difficulty, "Confirmé", class:"difficulty-spot", for: "con" %>

      <%= f.check_box :difficulty, id: "exp" %>
      <%= f.label :difficulty, "Expert", class:"difficulty-spot", for: "exp" %>
    </div>
  </div>

  <p>Selectionne la force du vent ! (en Km/h)</p>

  <div class="double-slider">
    <span class="value" data-double-slider-target="rangeOne"></span>
    <div class="slider-container">
      <div data-double-slider-target="sliderBar" class="slider-bar"></div>
      <%= f.range_field :wind_min, value: params[:wind_min] || "15", min: "0", max: "60", data: { double_slider_target: "sliderOne", action: "input->double-slider#slideOne"} %>
      <%= f.range_field :wind_max, value: params[:wind_max] || "30", min: "0", max: "60", data: { double_slider_target: "sliderTwo", action: "input->double-slider#slideTwo"} %>
    </div>
    <span class="value" data-double-slider-target="rangeTwo"></span>

  </div>

  <p>Quand veux-tu aller Kite-Surfer ?</p>

    <div class="first-two-div">
      <%= f.check_box :time, id: "tod" %>
      <%= f.label :time, "Aujourd'hui", class:"when-kite-spot", for: "tod" %>

      <%= f.check_box :time, id: "tom" %>
      <%= f.label :time, "Demain", class:"when-kite-spot", for: "tom" %>

      <%= f.check_box :time, id: "after" %>
      <%= f.label :time, "Après-demain", class:"when-kite-spot", for: "after" %>
    </div>

<%= form_with url: spots_path, method: :get do |f| %>
  <div class="form_geolocation">
    <%= f.text_field :address, placeholder: "Dans quelle ville veux-tu Kite-Surfer ?" %>
    <%= f.text_field :perimeter, placeholder: "Ton périmètre !" %>
  </div>
  
  <%= f.button "search" %>
<% end %>
